*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}


@font-face{
    font-family: myFont;
    src: url(Fonts/aorell.ttf);
}

body{
    background-color: #F0F0F0;
}

a{
    text-decoration: none;
    color: #02323f;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom,#F0F0F0 20%, #02323f83), url(Images/wallpaperflare.com_wallpaper.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items:start;
    justify-content: space-between;
    /* margin-bottom: 50px; */
    padding: 20px;
    padding-right: 0px;
    /* height: 100vh; */
    /* background-image:  linear-gradient(to bottom, rgb(248, 194, 194) 10%, rgba(138, 94, 36, 0.562)), url('Images/background.jpg'); */
    /* background-image: linear-gradient(#f0f0f0 20%, #02323fcc), url(Images/wallpaperflare.com_wallpaper.jpg);
    background-position: center;
    background-size: cover; */
    /* text-align: justify; */
}header > nav  ul{
    list-style: none;
}

.logolink{
    text-decoration: none;
}
.logo-container{
    display: flex;
    align-items: center;
    width: 158px;
}.logo-container:hover{
    cursor: pointer;
}

.logo{
    width: 80px;
}
.logo-container > p{
    /* font-family: myFont; */
    font-weight: 900;
    color: #02323fb6;
    font-style: italic;
    /* line-height: 22px; */
    /* text-decoration: underline; */
    font-size: 18px;
}.logo-container > p::after{
    content: "";
    height: 3px;
    width: 0%;
    background-color: #02323fb6;
    display: block;
    transition: 0.2s;
}.logo-container:hover > p::after{
    width: 52%;
}

.pages{
    list-style: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.pages > li > a{
    font-weight:500;
    text-transform: uppercase;
    transition: 0.2s;
}.pages > li:hover{
    cursor: pointer;
    font-size: 18px;
}

.pages > li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #02323f;
    display: block;
    margin: auto;
    transition: 0.2s;
}.pages > li:hover::after{
    width: 100%;
}

.menu{
    display: none;
    width: 27px;
    margin-top: 19px;
    transition: transform 0.15s;
}.menu:hover{
    cursor: pointer;
    transform: translate(0,-3px);
}

.stmartin{
    
    background-size: cover;
    background-position: center;
}


.dropdown{
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    width: 90px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}.pages > li:hover > .dropdown{
    visibility: visible;
    opacity: 1;
}

.dropdown > ul{
    margin: 10px;
    text-align: center;
}.dropdown > ul > li{
    padding-bottom: 18px;
}

.dropdown li::after{
    content: "";
    width: 0%;
    height: 1px;
    background: #02323f;
    margin: auto;
    display: block;
    transition: 0.2s;
}
.dropdown li:hover:after{
    width: 100%;
}

header > .clickme{
    display: flex;
    width: 100%;
    height: 81%;
    align-items: center;
    justify-content: center;
    color: #02323f;
    text-transform: uppercase;
}


header > .clickme > div > .button > a > button{
    border-style: solid;
    padding: 10px 50px;
    background-color: transparent;
    border-radius: 4%;
    border-color: #02323f;
    color: #02323f;
    font-size: larger;
    font-weight: 500;
    transition: all 0.2s;
    text-transform: uppercase;
}header > .clickme > div > .button > a > button:hover{
    cursor: pointer;
    background-color: #02323f;
    color: #F0F0F0;
    padding: 8px 48px;
}header > .clickme > div > .button > a > button:active{
    opacity: 0.7;
}
header > .clickme > div{
    text-align-last: center;
    margin-top: -20vh;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header > .clickme > div > h1{
    align-self: first baseline;
    font-size: 30px;
    color: #02323fb6;
}header > .clickme > div > h1:hover{
    cursor: pointer;
}