*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

html{
    scroll-behavior: smooth;
}

@font-face{
    font-family: myFont;
    src: url(Fonts/aorell.ttf);
}

body{
    background-color: #F0F0F0;
}

header{
    display: flex;
    align-items:start;
    justify-content: space-between;
    /* margin-bottom: 50px; */
    padding: 20px;
    padding-right: 0px;
    /* height: 100vh; */
    /* background-image:  linear-gradient(to bottom, rgb(248, 194, 194) 10%, rgba(138, 94, 36, 0.562)), url('Images/background.jpg'); */
    /* width: 100%; */
    height: 100vh;
    background-image: linear-gradient(#4c9affb6, #4c9aff00), url(Images/wallpaperflare.com_wallpaper.jpg);
    background-position: center;
    background-size: cover;
    text-align: justify;
}

.logo-container{
    display: flex;
    align-items: center;
    width: 150px;
}.logo-container:hover{
    cursor: pointer;
}

.logo{
    width: 80px;
}
header > .logo-container > p{
    font-family: myFont;
    font-weight: 900;
    font-size: 25px;
    color: #02323f;
    font-style: italic;
    /* line-height: 22px; */
    text-decoration: underline;
}

.pages{
    list-style: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.pages > li > a{
    text-decoration: none;
    color: #02323f;
    font-weight:500;
    text-transform: uppercase;
}

.pages > li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #02323f;
    display: block;
    margin: auto;
    transition: 0.15s;
}.pages > li:hover::after{
    width: 100%;
}

.menu{
    display: none;
    width: 27px;
    margin-top: 19px;
    transition: transform 0.15s;
}.menu:hover{
    cursor: pointer;
    transform: translate(0,-3px);
}

.stmartin{
    
    background-size: cover;
    background-position: center;
}